* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: darkgray;
}

#conteiner {
    display: inline-block;
    height: 500px;
    width: 500px;
    background-color: cadetblue;
    position: absolute;
    left: 30%;
    margin-top: 50px;
    border-radius: 50px;
}

#cabecalho {
    text-align: center;
    padding: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.5em 0.5em 0.5em black
}

#conteudo {
    text-align: center;
}

form {
    padding-bottom: 30px;
}

input {
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}